body {
    background: url(https://bit.ly/2inE6E9);
    color: white;
}

.jumbotron {
    background: url('images/1x/allHouses.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    margin-top: 10px;
    
}

h1,h2,h3 {
    color: white;
    text-align: center;
}

.col-md-3 {
    padding: 5px;
}

.col-md-6 {
    padding: 5px;
}

.board {
    border: 2px solid lightgray;
    padding: 40px;
    text-align: center;
    
}

footer {
    text-align: center;
}


